body {
  background-color: #e5e5e5;
  font-family: "Montserrat", sans-serif;
}

.right-section {
  padding-left: 88px;
}

.about-me-profession {
  font-size: 14px;
  color: black;
}

.about-me-section {
  background-color: greenyellow;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-right: 15px;
  margin-bottom: 50px;
}

.projects-section {
  background-color: hotpink;
}

.work-experience-section {
  background-color: aqua;
}

.main-section {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  margin: 40px auto;
}

/* Sidebar styles */

.sidebar-section {
  background-color: #14400e;
  width: 370px;
}

.sidebar-section img {
  width: 370px;
  margin-top: 40px;
}

.sidebar-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #fff;
}

.contacts-section,
.tech-skills-section,
.soft-skills-section {
  padding-left: 40px;
  color: #fff;
}

.contacts-section-type {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  margin-right: 10px;
}

.contacts-section-value {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}

.sidebar-list {
  color: #fb6d3a;
  padding-left: 22px;
}

.sidebar-list span {
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
