body {
  background-color: #e5e5e5;
  font-family: "Montserrat", sans-serif;
}

/* Right section styles */

.right-section {
  padding-left: 90px;
  padding-right: 220px;
  background-color: #fff;
}

.about-me-profession {
  font-size: 14px;
  color: black;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  margin-top: 100px;
}

#personName {
  color: #000;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  margin-top: 30px;
}

.about-me-section {
  padding-top: 15px;
  padding-right: 15px;

  width: 400px;
}

.about-me-section p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.projects-section {
  margin: 40px 0 0 0;
}

.projects-section ol {
  padding-left: 18px;
}

ol li,
.bracket {
  font-weight: 700;
  color: #000;
}

.projects-item a {
  color: #595959;
  margin-left: 10px;
}

.projects-item {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.block-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
}

.work-experience-section {
  margin-top: 50px;
}

.work-experience-position {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.work-experience-company {
  color: #fb6d3a;
}

.work-experience-period {
  color: #a8a8a8;
}

.work-experience-period span {
  color: #000;
}

.work-experience-duties {
  padding-left: 18px;
}

.work-experience-duties li {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.education-section {
  margin-top: 40px;
}

.education-section-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
}

.education-section-place {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
}

.education-section-domain {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.education-section-period {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
}

.education-section-period span {
  color: #000;
}

.main-section {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  margin: 40px auto;
}

/* Sidebar styles */

.sidebar-section {
  background-color: #14400e;
  width: 370px;
}

.sidebar-section img {
  width: 370px;
  margin-top: 40px;
}

.sidebar-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #fff;
}

.contacts-section,
.tech-skills-section,
.soft-skills-section {
  padding-left: 40px;
  color: #fff;
}

.contacts-section-type {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  margin-right: 10px;
}

.contacts-section-value {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}

.sidebar-list {
  color: #fb6d3a;
  padding-left: 22px;
}

.sidebar-list span {
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
